<footer>
    <div class="container"></div>
    <div class="container spalten">
        <div>
            <a href="index.html">
                <img src="./assets/img/logo_pmi_web.svg" alt="Projekt M Immobilien GmbH – Logo" />
            </a>
            <p><small>&copy; 2025 Projekt M Immobilien GmbH</small></p>
        </div>
        <div class="nav">
            <div><a href="index.html#neuer">Rüdiger Neuer</a></div>
            <div><a href="index.html#team">Team</a></div>
            <div><a href="index.html#leistungen">Leistungen</a></div>
            <div><a href="index.html#faq">FAQ</a></div>
            <div><a href="index.html#immobilienangebote">Immobilienangebote</a></div>
            <div><a href="index.html#nachhaltigkeit">Umweltschutz</a></div>
            <div><a href="impressum.html">Impressum</a></div>
            <div><a href="datenschutz.html" aria-current="page">Datenschutz</a></div>
        </div>
        <div>
            <address>
                <p>
                    Projekt M Immobilien GmbH<br />
                    Krumbacherstraße 5<br />80798 München
                </p>
            </address>
        </div>
        <div>
            <p>
                Telefon <a href="tel:+498928806768">089 28806768</a><br />
                E-Mail <a href="mailto:info@pmimmo.de">info@pmimmo.de</a>
            </p>
        </div>
    </div>
</footer>
