<nav>
    <button id="nav-toggle-btn" class="nav-toggle-button" aria-label="Menü öffnen" aria-controls="primary-menu" aria-expanded="false" type="button">
        <span class="bars"></span>
    </button>
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="./assets/img/logo_pmi_web.svg" alt="Projekt M Immobilien GmbH – Logo" />
            </a>
        </div>
        <div id="primary-menu" class="nav nav-menu">
            <a class="nav-item" href="index.html#leistungen">Leistungen</a>
            <a class="nav-item" href="index.html#team">Team</a>
            <a class="nav-item" href="index.html#kompetenzen">Kompetenzen</a>
            <a class="nav-item" href="index.html#standorte">Standorte</a>
            <a class="button" href="index.html#callToAction" aria-label="Jetzt Kontakt aufnehmen">Kontakt</a>
        </div>
    </div>
</nav>
